# Django stuff
*.log
*.sqlite3
db.sqlite3
__pycache__/
*.py[cod]

# Virtual Environment (Folder yang bikin ribuan file)
venv/
env/
.venv/
.env
Lib/
Scripts/

# Abaikan file database dan virtual environment
*.sqlite3
db.sqlite3
venv/
.env
__pycache__/
db.sqlite3
